.tableThread {
    color: #ffffff;
    font-weight: bold;
    
}

.tableTh {
    padding: 20px 0;
    background: #c83240;
}

.tableTr {
    cursor: pointer;
}

.tableTr:nth-child(1n) {
    background: #f6f6f6;
}
.tableTr:nth-child(1n):hover {
    background: #ffe8e8; transition-duration: 0.6s;
}

.tableTr:nth-child(2n) {
    background: #e6e6e6;
}
.tableTr:nth-child(2n):hover {
    background: #ffe8e8; transition-duration: 0.6s;
}

.tableTd {
    padding: 15px 0;
    border-right: 1px solid #dfdfdf;
}

.tableTd:last-child {
    border-right: 0px;
}

.table {
    width: 100%;
    text-align: center;
    border-bottom: 2px solid #dfdfdf; 
    border-radius: 6px;
    border-collapse: separate;
    border-spacing: 0px;
    font-size: 24px;
}